body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 20px;
    color: #ffffff;
    text-align: center;
}

h1 {
    color: #ffffff;
}

label {
    font-size: 16px;
    font-weight: bold;
}

input[type="checkbox"] {
    transform: scale(1.5);
    vertical-align: middle;
    margin-left: 10px;
}

#manualControls {
    margin-top: 20px;
}

button {
    background-color: #00a754;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #76b294;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

#videoStreamContainer {
    margin: 20px 0;
    border: 1px solid #ccc;
    padding: 10px;
    background: #00a754;
}

#logs {
    background: #464646;
    border: 1px solid #ddd;
    list-style-type: none;
    padding: 10px;
    max-height: 400px;
    overflow-y: auto;
    margin-top: 20px;
}

li {
    margin: 5px 0;
    padding: 5px;
    border-bottom: 1px solid #00a754;
}

li:last-child {
    border-bottom: none;
}
